* {
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

/* Page background */
.home-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(218, 231, 239);
}
/* Main card */
.home-card {
  width: 90%;
  max-width: 1100px;
  height: 480px;
  background: white;
  display: flex;
  border-radius: 22px;
  overflow: hidden;
  box-shadow: 0 25px 50px rgba(197, 193, 193, 0.25);
}

/* Left section */
.home-left {
  width: 45%;
  background: #f7f9fc;
  padding: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-left h1 {
  font-size: 42px;
  line-height: 1.2;
  color: #000;
  margin-bottom: 30px;
}

/* Tech stack */
.tech-box {
  display: flex;
  gap: 15px;
}

.tech-box span {
  padding: 10px 16px;
  border-radius: 8px;
  background: #3b82f6;
  color: white;
  font-weight: 600;
  font-size: 14px;
}

/* Right section */
.home-right {
  width: 55%;
  padding: 60px 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-right h2 {
  font-size: 30px;
  margin-bottom: 15px;
  color: #000;
}

.home-right h2 span {
  color: #3b82f6;
}

.home-right p {
  font-size: 15px;
  color: #000;
  margin-bottom: 30px;
  max-width: 420px;
}

/* Buttons */
.home-buttons {
  display: flex;
  gap: 15px;
}

.btn-primary {
  padding: 12px 22px;
  background: #3b82f6;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}

.btn-primary:hover {
  transform: scale(1.05);
}

.btn-secondary {
  padding: 12px 22px;
  background: #f7f9fc;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
  .home-card {
    flex-direction: column;
    height: auto;
  }

  .home-left,
  .home-right {
    width: 100%;
    padding: 35px;
  }

  .home-left h1 {
    font-size: 32px;
  }
}
