body {
  padding-top: 90px;
}

/* Navbar fixed */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: transform 0.4s ease;
}

/* Show on scroll up */
.nav-show {
  transform: translateY(0);
}

/* Hide on scroll down */
.nav-hide {
  transform: translateY(-100%);
}


/* Full header */
.header {
  width: 100%;
  padding: 14px 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  box-shadow: 0 15px 35px rgba(221, 235, 246, 0.08);
  margin-bottom: 5vh;
}

/* Left logo */
/* Menu icon (hidden on desktop) */
.menu-icon {
  display: none;
  font-size: 26px;
  cursor: pointer;
  color: #222;
}
.left h1 {
  padding: 10px 18px;
  background: #f7f9fc;
  font-size: 22px;
  font-weight: 800;
  color: #222;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-top: 15px;
}

/* Right navigation box */
.right {
  display: flex;
  gap: 22px;

  padding: 10px 18px;
  background: #f7f9fc;
}

/* Navigation links */
.ns {
  text-decoration: none;
  color: #444;
  font-size: 15px;
  font-weight: 500;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 10px;

  transition: all 0.3s ease;
}

/* Hover effect */
.ns:hover {
  background: #e9eef8;
  color: #000;
}

/* Active link (NavLink auto class) */
.ns.active {
  background: #3b82f6;
  color: #ffffff;
}

/* Responsive */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
    z-index: 999;

  }

  .right {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    flex-direction: row;
    gap: 15px;
    background: #f7f9fc;
    padding: 20px;
    display: none;
    justify-content: center;
    align-items: center;
  }

  .right.open {
    display: flex;
  }
}